<div class="error-container bottom-m {{#if errors}} errors{{/if}}">
  <ul class="errors-list">
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div class="parameters-container bottom-m">
  <form id="query">
    <h4>Period</h4>
    {{#with data.times}}
      <div class="bottom-m">
        <label>
          Start
          <input type="text" value="{{starttimeFormatted}}" class="startDate text-input{{#if ../errorFields.starttime}} error-field{{/if}}" size="10" maxLength="10" placeholder="dd-mm-yyyy"/>
        </label>
        <label>
          End
          <input type="text" value="{{endtimeFormatted}}" class="endDate date{{#if ../errorFields.endtime}} error-field{{/if}}" size="10" maxLength="10" placeholder="dd-mm-yyyy"/>
        </label>
      </div>
    {{/with}}
    <h4>Coordinates</h4>
    <div>
      {{#with data.coordinates}}
        <div class="one-half left bottom-m">
          <p>Longitude</p>
          <label>min</label>
          <input type="text" value="{{minlongitude}}" class="minLongitude text-input{{#if ../errorFields.minlongitude}} error-field{{/if}}" size="20" />
          <br>
          <label>max</label>
          <input type="text" value="{{maxlongitude}}" class="maxLongitude{{#if ../errorFields.maxlongitude}} error-field{{/if}}" size="20" />
        </div>
        <div class="one-half right bottom-m">
          <p>Latitude</p>
          <label>min</label>
          <input type="text" value="{{minlatitude}}" class="minlatitude{{#if ../errorFields.minlatitude}} error-field{{/if}}" size="20" />
          <br>
          <label>max</label>
          <input type="text" value="{{maxlatitude}}" class="maxLatitude {{#if ../errorFields.maxlatitude}} error-field{{/if}}" size="20" />
        </div>
      {{/with}}
    </div>
    <button class="getData">Get data</button>
  </form>
</div>
<div class="buttons-container">
  <button class="showAllMarkers">Show all</button>
  <button class="hideAllMarkers">Hide all</button>
  <button class="reset">Reset</button>
</div>
<div class="search-container">
  <input type="text" class="searchField" placeholder="search"/>
</div>
